<header>
    <nav>
        <a routerLink="/floating-banner" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            Route 1
        </a>
        <a routerLink="/shopping-list" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            Route 2
        </a>
        <a routerLink="/counter-input-output" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            Route 3
        </a>
        <a routerLink="/counter-subject" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            Route 4
        </a>
        <a routerLink="/student-list" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            Route 5
        </a>
        <a routerLink="/infinity-scroll" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            Route 6
        </a>
    </nav>
</header>